<% @title = "Il diritto di accesso" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

<div class="boxed-content">
  <p>Questa è una guida essenziale al diritto di accesso generalizzato (FOIA), pensata per aiutarti a utilizzare Chiedi. Aggiorneremo la guida periodicamente tenendo in conto l’evoluzione del diritto e l’esperienza pratica dei richiedenti.</p>
  <p>Se vuoi capire come funziona Chiedi vai <a href="https://chiedi.dirittodisapere.it/help/requesting">qui</a></p>
  <p>Per consigli e dubbi puoi <a href="https://chiedi.dirittodisapere.it/help/contact">contattare</a> il team di Diritto di Sapere.</p>
</div>

<div>
  Passa a...
  <ul><li><a href="#introduction">...cos'è il diritto di accesso?</a></li>
  <li><a href="#overview">...come è regolato il diritto di accesso in Italia?</a></li>
  <li><a href="#limits">...che problemi posso incontrare?</a></li>
  <li><a href="https://chiedi.dirittodisapere.it/help/requesting">...come funziona Chiedi? (IN AGGIORNAMENTO)</a></li></ul>
  <hr>
</div>

<dl>

<dt id="introduction"><h3>Il diritto di accesso <a href="#introduction">#</a></h3></dt>
<dd></dt>
<dd>
<dd></dd>

<dt id="right">Cos'è il diritto di accesso? <a href="#right">#</a></dt>
<dd>
<dd>
<p>Il “diritto di accesso” è il diritto di chiunque di <em>prendere visione e ottenere una copia dei documenti, dei dati e delle informazioni</em> che le Pubbliche Amministrazioni producono o semplicemente possiedono (magari perché ricevute da terze parti).<br>
A livello internazionale il diritto di accesso è indicato tra i <strong>diritti umani fondamentali</strong> da vari organismi quali l'Onu (Risoluzione 59/1946) e l’Unione Europea (<a href="https://www.ecb.europa.eu/ecb/legal/pdf/it_lisbon_treaty.pdf">Trattato di Lisbona</a>, <a href="http://www.europarl.europa.eu/charter/pdf/text_it.pdf">Carta Europea dei Diritti Fondamentali</a>, <a href="http://eur-lex.europa.eu/legal-content/IT/TXT/PDF/?uri=CELEX:32001R1049&qid=1442486033679&from=EN">Regolamento 1049/2001</a>).</p>
</dd>

<dt id="whybother_me">A cosa serve il diritto di accesso? <a href="#whybother_me">#</a></dt>
<dd>
<p>Il diritto di accesso è fondamentale per garantire maggiore <strong>trasparenza</strong> e consentirti in quanto cittadino di partecipare al meglio alla vita sociale e politica.</p>

<p>È un diritto che va difeso e promosso perché le istituzioni ti rappresentano e sono finanziate col tuo denaro attraverso le tasse: <u>hai quindi il diritto di conoscere come viene esercitato il potere che deleghi e come sono spese le risorse che hai messo a disposizione</u>. Una richiesta di accesso può, inoltre, aiutarti a difendere i tuoi diritti: se ad esempio ottieni maggiori informazioni e dati sulla qualità del servizio sanitario della tua città saprai tutelare meglio il tuo diritto alla salute.</p>
<p>Il diritto di accesso, inoltre, è strettamente correlato alla <strong>libertà di espressione</strong> ed è dunque utile per i giornalisti che hanno bisogno di fonti ufficiali per avviare inchieste o approfondire questioni particolari.</p>
</dd>

<dt id="overview">Come funziona il diritto di accesso in Italia? <a href="#overview">#</a></dt>
<dd>
<p>In Italia ci sono:
<ul>
<li><em>tre forme di accesso</em> (“accesso documentale”, “accesso civico” e “accesso generalizzato”)</li>
<li><em>due leggi principali di riferimento</em> (Legge 241/1990, Decreto 33/2013)</li>
</ul>
<u>Quello che potrai esercitare attraverso Chiedi è <strong>l'accesso generalizzato (o Foia)</strong></u>. Facciamo, però, una panoramica di tutte le forme di accesso per avere le idee più chiare.</p>

<p><strong><u>Accesso documentale</u></strong> - La prima forma di accesso introdotta in Italia è stata l'accesso documentale attraverso la Legge 241/1990: con questa legge puoi accedere a un documento soltanto se puoi dimostrare di avere un interesse "diretto, concreto e attuale". In sostanza questa forma di accesso ti serve per ottenere <em>documenti che ti riguardano in prima persona</em> come, ad esempio, quelli su un concorso pubblico al quale hai partecipato. Anche se alcune sentenze hanno espanso l'utilizzo di questo diritto riconoscendo ai giornalisti un ruolo speciale (poi negato da altre sentenze), è una forma di accesso che non nasce per aumentare la trasparenza della pubblica amministrazione. Infatti in questa legge c'è un articolo che vieta le richieste che servono a effettuare un "controllo generalizzato dell'operato delle pubbliche amministrazioni".
Finché è stata l'unica forma di accesso disponibile in Italia è stata classificata nell'<a href="http://www.rti-rating.org/">RTI Rating</a>, l'indice sull'accessibilità delle informazioni, tra le 10 peggiori leggi al mondo.</p>

<p><strong><u>Accesso civico</u></strong> - Se invece hai bisogno di dati, documenti o informazioni che riguardano <em>l’organizzazione e l’attività di una pubblica amministrazione</em> dovresti innanzitutto consultare la sezione “Amministrazione Trasparente” del suo sito web istituzionale (ad esempio questa è quella del Ministero dell’Interno). Se, tuttavia, non il documento che cerchi non c'è o non è aggiornato, allora puoi esercitare l’accesso civico, ovvero richiedere che il documento sia immediatamente pubblicato nella sezione Amministrazione Trasparente.</p>

<p><strong><u>Accesso generalizzato (o Foia)</u></strong> - Per <em>ogni altro tipo di documento, dato o informazione</em> che ti serve e che non non rientra nelle tipologie precedenti, puoi ricorrere all’accesso generalizzato. Questo tipo di accesso è stato introdotto nel 2016 dal D.lgs 97/2016 che è stato ribattezzato “il Freedom of Information Act (Foia) italiano”. Questo decreto apporta importanti modifiche al Decreto Trasparenza il quale diventa il testo di riferimento per l’accesso alle informazioni con al suo interno una parte che regola l’accesso civico (obblighi di pubblicazione) e una che regola l’accesso generalizzato (ogni altro documento).</p>
</dd>

<dt id="law"><h3>Il Decreto Trasparenza (33/2013) <a href="#law">#</a></h3></dt>
<dt id="law_overview">Cosa prevede il Decreto Trasparenza?<a href="#law_overview">#</a></dt>

<dd><p>Il Decreto Trasparenza (33/2013) è attualmente il testo di riferimento in tema di accesso e regola due aspetti fondamentali</p>

<h4><u>Obblighi di trasparenza</u></h4>
<p>Le Pubbliche Amministrazioni sono tenute a pubblicare nella sezione Amministrazione Trasparente dei loro siti istituzionali alcuni tipi di documenti, dati e informazioni che riguardano <em>la loro organizzazione</em> (ad esempio gli organigrammi) e <em>le loro attività</em> (ad esempio i bilanci) e a tenerla costantemente aggiornata. Tuttavia, se la Pubblica Amministrazione non ha effettivamente rispettato uno di questi obblighi i cittadini hanno il diritto di esercitare il cosiddetto “accesso civico”, ovvero richiedere l’immediata pubblicazione delle informazioni mancanti o il loro aggiornamento.</p>
<p>Inoltre le Pubbliche Amministrazioni possono decidere tramite regolamento o legge di pubblicare anche altri documenti e dati aggiuntivi che non rientrano in quest’elenco. Li troverai alla voce “Dati ulteriori” della sezione Amministrazione Trasparente.</p>

<h4><u>Accessibilità totale di documenti e dati</u></h4>
<p>Se un documento o un tipo di dato non è compreso negli obblighi di pubblicazione puoi, comunque, chiedere di riceverne una copia. In questo caso si parla di “accesso generalizzato” una novità, introdotta all’interno del Decreto Trasparenza grazie alle modifiche contenute nel D.lgs 97/2016 (uno dei decreti dell’ultima Riforma della Pubblica Amministrazione della Ministra Madia). Si tratta di una modalità di accesso paragonabile a quella dei Freedom of Information Act di Paesi quali la Gran Bretagna e per questo si parla di "Foia italiano" e di “richieste Foia”.</p>
</dd>

<dt id="access"><h3>L’accesso generalizzato o Foia <a href="#access">#</a></h3></dt>
<dd>
<dt id="requester">Chi può mandare una richiesta? <a href="#requester">#</a></dt>
<dd>
<p>La legge su questo punto è chiara: <strong>chiunque</strong> può mandare una richiesta di accesso.</p>
</dd>

<dt id="which_authority">A chi posso mandare una richiesta di accesso generalizzato? <a href="#which_authority">#</a></dt>
<dd>
Innanzitutto a tutte le amministrazioni dello Stato: qui trovi l’elenco ISTAT delle Pubbliche amministrazioni aggiornato al 2015.<br>Giusto per darti un’idea si applica ad esempio:
<ul>
<li>alla Presidenza del Consiglio dei Ministri e a tutti i <strong>Ministeri</strong>;</li>
<li>agli <strong>enti locali</strong> (tutte le Regioni, tutti i Comuni, tutte le ASL...)</li>
<li>alle <strong>scuole</strong> di ogni ordine e grado, le istituzioni educative e le <strong>istituzioni universitarie</strong>;</li>
<li>alle <strong>Camere di commercio</strong>, industria, artigianato e agricoltura e loro associazioni;</li>
<li>alle <strong>Agenzie pubbliche</strong>: come <em>AgID</em> (Agenzia per il Digitale), <em>ANSV</em> (Agenzia nazionale per la sicurezza del volo);</li>
<li>alle <strong>Autorità amministrative indipendenti</strong>: come <em>ANAC</em> (Autorità Nazionale Anticorruzione), <em>AGCOM</em> (Autorità per le garanzie nelle comunicazioni) o <em>ANVUR</em> (Agenzia nazionale di valutazione del sistema universitario e della ricerca);</li>
<li>agli <strong>enti pubblici economici</strong>;</li>
<li>alle <strong>Agenzie fiscali</strong>: <em>Agenzia delle Dogane e dei Monopoli</em>, <em>Agenzia del Demanio</em>, <em>Agenzia delle Entrate</em>;</li>
<li>agli <strong>ordini professionali</strong> nazionali e locali: come l'<em>Ordine nazionale dei farmacisti</em> o l'<em>Ordine degli avvocati</em>.</li></ul>

Con alcune limitazioni, puoi inviare delle richieste anche:
<ul>
<li>alle <strong>società in controllo pubblico</strong> (ovvero quelle possedute dallo Stato) non quotate in borsa</li>
<li>alle <strong>società partecipate (sotto alcune condizioni)</li>
<li>alle <strong>imprese</strong> e gli enti privati che <strong>producono o gestiscono servizi pubblici</li></ul>

<p>NB. Stiamo cercando di ampliare il database di Chiedi per ospitare tutti questi soggetti. Se vuoi mandare una richiesta ma non trovi l’amministrazione <a href="https://chiedi.dirittodisapere.it/change_request/new">clicca qui</a>.</p>
</dd>

<dt id="object">Cosa posso richiedere? <a href="#object">#</a></dt>
<dd>
Il decreto parla di tutti i “dati e documenti detenuti dalle pubbliche amministrazioni e dagli altri soggetti di cui all’articolo 2-bis”. 
Quindi puoi richiedere
<ul><li><strong>i documenti e i dati</strong> che una pubblica amministrazione ha materialmente <em>prodotto</em> o quelli che <em>ha ricevuto</em> da altre PA/uffici/soggetti privati</li>
<li><strong>informazioni</strong> che siano contenuti in un documento.</li></ul>

<p>La definizione di documento <strong>prescinde dal supporto e dal formato</strong>: include quindi non solo gli atti in formato cartaceo o digitale (come report, analisi, manuali ecc.) ma anche foto, mappe, grafici, file video, file audio ecc.</p>

<p>Cerca di essere più preciso possibile nel definire quali documenti, dati o informazioni vuoi: così, avrai più possibilità di successo.<br>
Considera inoltre che l’amministrazione non è tenuta a raccogliere informazioni che non sono in suo possesso per rispondere ad una richiesta di accesso generalizzato, ma deve limitarsi a rispondere sulla base dei documenti e delle informazioni che sono già in suo possesso.</p>
</dd>

<dt id="reason">Devo spiegare perché voglio questi documenti? <a href="#reason">#</a></dt>
<dd>
<p><strong>No</strong>, non sei obbligato a farlo.<br>Non devi dimostrare di avere interessi particolare ad accedere a queste informazioni e non hai alcun obbligo di specificare la tua qualifica (ad esempio se sei un giornalista o un avvocato).</p>
<p>A volte può essere utile spiegare nella richiesta il perché vuoi queste informazioni soprattutto se sono informazioni di grande interesse pubblico. Ma - RIPETIAMO - la pubblica amministrazione non può chiederti perché vuoi queste inormazioni e come intendi utilizzarle.</p>
</dd>

<dt id=fees>Quanto mi costa ottenere questi documenti? <a href="#fees">#</a></dt>
<dd>
La visione dei documenti e l’invio di copia elettronica via email <strong>sono gratuite</strong>.<br>
Se richiedi l’invio di una copia cartacea del documento in questione dovrai rimborsare i costi sostenuti dall’amministrazione per la riproduzione del documento (stampa e invio).
</dd>

<dt id="office">A quale ufficio va presentata la richiesta di accesso generalizzato? <a href="#fees">#</a></dt>
<dd>
La richiesta di accesso generalizzato può essere indirizzata:
<ol type="a">
<li>all'ufficio che detiene (o pensi detenga) i dati, le informazioni o i documenti che vuoi richiedere;</li>
<li>all'Ufficio relazioni con il pubblico (URP) della pubblica amministrazione che pensi detenga i dati, le informazioni o i documenti che vuoi richiedere;</li>
<li>all'ufficio, che l'amministrazione ha indicato come destinatario delle richieste di accesso generalizzato nella sezione "Amministrazione trasparente" – “Altri contenuti – Accesso civico” del suo sito istituzionale.</li></ol>
<p>Se utilizzi Chiedi la richiesta verrà direttamente indirizzata a uno di questi destinatari, quindi hai un problema in meno!</p> 
</dd>

<dt id="whybother_them">Mi risponderanno? <a href="#whybother_them">#</a></dt>
<dd>
<p>Ogni richiesta di accesso civico deve ricevere risposta (<em>“deve concludersi con provvedimento espresso e motivato”</em>) entro 30 giorni.<br>
Se si rifiutano di darti ciò che chiedi devono darti una motivazione che rientri tra le eccezioni previste dalla legge.<br>
Se non ti hanno risposto entro 30 giorni puoi <a href="#appeal">richiedere il riesame interno</a> al Responsabilie per la trasparenza della PA.</p>
</dd>

<dt id="limits">Posso ottenere sempre i documenti e le informazioni che richiedo? <a href="#limits">#</a></dt>
<dd>
Il diritto di accesso <u>non è un diritto assoluto</u>: questo vuol dire che l’accesso a un documento, un dato o un’informazione potrebbe esserti negato per tutelare altri diritti o interessi pubblici e privati che verrebbero “danneggiati” se ciò che richiedi venisse reso pubblico.<br>
Si tratta delle <strong>eccezioni</strong> al diritto di accesso.
</dd>

<dt id="exceptions">Quali eccezioni esistono? <a href="#exceptions">#</a></dt>
<dd>
<p>Bisogna distinguere tra <em>“eccezioni assolute”</em> ed <em>“eccezioni relative”</em></p>
<ul>
<li>Si parla di “<strong>eccezioni assolute</strong>” quando un’informazione è coperta da segreto di Stato o tutelata in maniera particolare da altre norme specifiche come quelle che riguardano il “segreto statistico”, il “segreto militare”, “segreto bancario”, il “segreto professionale”. Sono casi specifici e se richiedi accesso a questo tipo di documenti riceverai sicuramente un rifiuto.</li>

<li>Si parla di eccezioni relative o “<strong>limiti</strong>” per tutti quegli interessi pubblici o privati che potrebbero essere danneggiati dall’accesso alle informazioni.</li></ul>

<p>Questi interessi sono:
<ol type="a">
<li>la sicurezza pubblica e l’ordine pubblico;</li>
<li>la sicurezza nazionale;</li>
<li>la difesa e le questioni militari;</li>
<li>le relazioni internazionali;</li>
<li>la politica e la stabilità finanziaria ed economica dello Stato;</li>
<li>la conduzione di indagini sui reati e il loro perseguimento;</li>
<li>il regolare svolgimento di attività ispettive;</li>
<li>protezione dei dati personali (privacy);</li>
<li>libertà e segretezza della corrispondenza;</li>
<li>interessi economici e commerciali di una persona fisica o giuridica, ivi compresi proprietà intellettuale, diritto d'autore e segreti commerciali.</li>
</ol></p>

<p>Alle Pubbliche Amministrazioni spetta <strong>bilanciare questi diritti con il diritto di accesso</strong> e stabilire se consentire o rifiutare l’accesso. L’Anac, come previsto dallo stesso Decreto 97/2016, ha pubblicato delle Linee Guida che dovrebbero guidare le Pubbliche Amministrazioni nell’applicazione delle eccezioni. Le puoi leggere <a href="http://www.anticorruzione.it/portal/public/classic/Comunicazione/News/_news?id=4a54031c0a778042569a4de35fcf8a89">qui</a>.</p>
</dd>

<dt id="internal_review">Cosa posso fare se non mi rispondono? E se mi rifiutano l'accesso? <a href="#internal_review">#</a></dt>
<dd>
<p>Se non ottieni alcuna risposta dopo 30 giorni, richiedi il <strong>riesame</strong> della tua richiesta al <em>Responsabile per la Trasparenza</em>. Devi semplicemente inoltrare la tua richiesta al Responsabile Trasparenza della PA alla quale hai mandato la richiesta dicendo che non hai ottenuto risposta nei termini previsti da Decreto Trasparenza.</p>
<p>Allo stesso modo, se hai ricevuto un diniego che ritieni ingiusto puoi richiedere un riesame della tua richiesta al Responsabile per la Trasparenza della pubblica amministrazione. In questo caso devi spiegare perché ritieni che il diniego sia stao ingiusto o illecito.</p> 
<p>In entrambi i casi il Responsabile per la trasparenza deve risponderti e decidere, con provvedimento motivato, <strong>entro venti giorni</strong> se garantirti l'accesso a ciò che hai richiesto.</p>

<dt id="appeal">Cosa faccio se il riesame non è sufficiente? <a href="#appeal">#</a></dt>
<dd>
<p>Se il riesame non funziona (non ottieni ancora risposta o il diniego viene confermato) e hai fatto una richiesta di accesso a un ente locale, puoi <strong>ricorrere al Difensore Civico</strong> competente a livello territoriale. Qualora non sia stato istituito un Difensore Civico per quell'ente, la competenza è attribuita al difensore civico competente per l’ambito territoriale immediatamente superiore. Quindi, ad esempio, se il tuo Comune non ha un difensore civico puoi ricorrere a quello della tua Regione.</p>
<p>Infine c’è sempre la <strong>giustizia amministrativa</strong>: in caso di mancata risposta o di dinego puoi presentare ricorso al Tribunale Amministrativo Regionale. Considera però che è una via più lunga e costosa.</p>
</dd>

</dl>

</div>
