<% @title = "Fare una richiesta" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="chiedi">A cosa serve Chiedi? <a href="#chiedi">#</a> </dt>
<dd>
    <p>Chiedi è una piattaforma di social mailing basata sul software <em>open source</em> <a href="http://alaveteli.org/">Alaveteli</a>, sviluppato dall’ong britannica <a href="https://www.mysociety.org/">mySociety</a> e oggi localizzata in 25 paesi.<br>
  Chiedi serve a inviare <a href="https://chiedi.dirittodisapere.it/help/about#overview">richieste di accesso generalizzato</a> e a mantenere questo processo pubblico e trasparente.</p>
</dd>

<dt id="chiedi_breve">Emh...cosa?<a href="#chiedi_breve">#</a> </dt>
<dd>
    <p>In parole povere, se ti servono dei documenti o dei dati dal tuo comune, da un ministero o da qualsiasi altra pubblica amministrazione, Chiedi ti permette di richiederli in maniera semplice attraverso una procedura guidata. Inoltre ti terremo aggiornato sullo stato della tua richiesta attraverso delle notifiche via email e ti aiuteremo nel caso qualcosa sia andato male.</p> 
<p>Tutte le richieste (oltre alle risposte e alle informazioni ricevute) sono pubbliche e vengono classificate in base al loro successo. In questo modo aumentiamo la quantità di informazioni a disposizione dei cittadini, possiamo tutti imparare dalle esperienze degli altri utenti e scoprire quanto sono trasparenti le pubbliche amministrazioni.
  </p>
</dd>

<dt id="chi">Chi può usare Chiedi?<a href="#chi">#</a> </dt>
<dd>
    <p><strong>Chiunque</strong>: giornalisti, attivisti, aziende, ONG. Ricorda solo che:</p>
    <ul><li>deve esserci un soggetto che firmi la richiesta a suo nome</li>
        <li>che ciò che chiedi e ciò che ottieni viene sempre pubblicato sul sito in chiaro. Se hai bisogno di fare una richiesta senza renderla pubblica <a href="https://chiedi.dirittodisapere.it/help/contact">contattaci</a>.</li></ul>
</dd>

<dt id="come">Come funziona Chiedi?<a href="#come">#</a> </dt>
<dd>
  <p>Dopo esserti iscritto, puoi subito inserire una richiesta di accesso sul sito e questa verrà spedita alla Pubblica Amministrazione che hai indicato. A ogni richiesta è collegata una pagina specifica: ogni risposta della PA (e i documenti allegati) verrà pubblicata su questa pagina.<br>Se vuoi mandare una risposta alla pubblica amministrazione puoi farlo sempre attraverso Chiedi e  infine, quando il processo di richiesta sarà concluso, ti verrà richiesto di aggiornare lo “stato della richiesta” per informare gli altri utenti se tutto è andato a buon fine o se al contrario la pubblica amministrazione ti ha negato l’accesso a ciò che hai richiesto.</p>
</dd>

<h2 id="prima_richiesta">Per la tua prima richiesta<a href="#prima_richiesta">#</a> </h2>

<dt id="dati">Quali dati devo fornire per iscrivermi a Chiedi?<a href="#dati">#</a> </dt>
<dd>
    <p>Semplicemente <strong>nome, cognome e una tua email</strong>.<br>
  In aggiunta puoi anche caricare una tua foto e una tua breve biografia. Se intendi fare diverse richieste di accesso, infatti, avere un profilo più completo potrebbe essere d’aiuto in quanto dimostra alla Pubblica Amministrazione la serietà del tuo impegno e la tua volontà di volerci mettere - letteralmente -  la faccia. 
  </p>
</dd>

<dt id="dati_richiesta">Quali dati devo fornire per inviare una richiesta?<a href="#dati">#</a> </dt>
<dd>
    <p>Affinché la richiesta venga considerata valida dovrai inserire nel testo della richiesta alcuni dati personali (luogo e data di nascita più indirizzo di residenza): questi dati verranno automaticamente oscurati sul sito. Inoltre dovrai allegare <strong>una fotocopia della tua carta d'identità</strong> (sia fronte che retro): questa verrà direttamente recapitata alla PA in allegato alla tua richiesta, perciò non preoccuparti, non ne conserveremo alcuna copia.
  </p>
</dd>

<dt id="come_richiesta">Come invio una richiesta?<a href="#come_richiesta">#</a> </dt>
<dd>
  <p>Dopo esserti iscritto al sito clicca su “Inserisci Richiesta” e segui la procedura guidata.
  Dovrai semplicemente selezionare l’amministrazione, completare il testo della richiesta (inserendo anche i dati personali indicati nel modello di base) e infine allegare una copia del fronte e del retro della tua carta di identità.</p>
</dd>

<dt id="quali_info">Cosa posso chiedere?<a href="#quali_info">#</a> </dt>
<dd>
  <p>
    Puoi richiedere dati, documenti e informazioni detenuti dalle pubbliche amministrazioni, ovvero:</p>
<ul>
    <li>i documenti e i dati che una pubblica amministrazione ha materialmente prodotto o quelli che ha ricevuto da altre PA/uffici/soggetti privati</li>
    <li>informazioni che siano contenuti in un documento.</li></ul>
<p>La definizione di documento prescinde dal supporto e dal formato: include quindi non solo gli atti in formato cartaceo o digitale (come report, analisi, manuali ecc.) ma anche foto, mappe, grafici, file video, file audio ecc.</p>
</dd>

<dt id="vecchi_documenti">Posso chiedere soltanto i documenti prodotti dopo l'approvazione della legge sul diritto di accesso?<a href="#vecchi_documenti">#</a> </dt>
<dd>
  <p>No, puoi esercitare il tuo diritto di accesso su tutti i documenti che una pubblica amminsitrazione possiede in quel momento e finché sussistano obblighi di conservazione delle informazioni che vuoi richiedere.
  </p>
</dd>

<dt id="quickly_response">Entro quanto tempo mi risponderanno?<a href="#quickly_response">#</a> </dt>
<dd>
  <p>Per legge ogni richiesta di accesso generalizzato deve ricevere risposta entro <strong>30 giorni</strong> (solari, non lavorativi).</p>
</dd>

<dt id="fees">Quanto mi costa?<a href="#fees">#</a> </dt>
<dd>
  <p>L'accesso è gratuito.<br>
  Ricevere una copia cartacea di un documento comporta costi pari a quelli di riproduzione (fotocopia, DVD ecc) e di spedizione. Per questo ti conviene sempre specificare che vuoi dati o documenti in formato elettronico: li otterrai a costo zero</p>
</dd>

<h2 id="buona_richiesta">Per fare una buona richiesta<a href="#buona_richiesta">#</a> </h2>

<dt id="scelta_legge">Ma è necessario citare la legge?<a href="#scelta_legge">#</a> </dt>
<dd>
<p>Fare riferimento specifico al tuo diritto di accesso è fondamentale: in questo modo dimostri al tuo interlocutore che conosci i tuoi diritti e ti assicuri che il procedimento segua le norme di legge.</p>
    <p>Attraverso Chiedi puoi mandare <strong>richieste di accesso generalizzato</strong> ovvero richiedere, come previsto dall'Art. 5.2 del D.lgs 33/2013, <em>dati ulteriori</em> rispetto a quelli che le pubbliche amministrazioni sono tenute a pubblicare nella sezione Amministrazione Trasparente.<br>
Troverai questo riferimento già nel testo base della richiesta, ma se vuoi capirne qualcosa in più consulta la nostra <a href="https://chiedi.dirittodisapere.it/help/about#overview">pagina sul diritto di accesso</a>.Inoltre, potrebbe esserti utile leggere <a href="https://blog.dirittodisapere.it/rapporto-foia/">Ignoranza di Stato</a>, il monitoraggio che abbiamo realizzato inviando 800 richieste di accesso: ci sono vari consigli e storie che potrebbero esserti utili per capire quali problemi potresti incontrare.</p>
</dd>

<dt id="motivazione">Devo motivare la mia richiesta?<a href="#motivazione">#</a> </dt>
<dd>
    <p><strong>No</strong>, non sei mai obbligato a motivare la tua richiesta.<br>
        In alcuni casi, però, specificare perché è importante che quelle informazioni siano rese disponibili può rafforzare la tua posizione: per farlo puoi semplicemente mettere una sezione che inizi con "Premesso che" come avviene in <a href="https://chiedi.dirittodisapere.it/request/cancellazione_dati_censimento_ro_2#incoming-208">questa richiesta</a>.<br>Non preoccuparti di scrivere lunghe argomentazioni, è meglio piuttosto esprimersi in maniera chiara e concisa.</p>
</dd>

<dt id="info_o_documenti">Chiedo delle informazioni o dei documenti?<a href="#info_o_documenti">#</a> </dt>
<dd>
  <p> Meglio chiedere dei documenti.<br>
      Le pubbliche amministrazioni, infatti, non sono tenute a estrarre e combinare informazioni per rispondere alla tua richiesta: di conseguenza cerca di capire quale documento potrebbe contenere ciò che cerchi. Inoltre, <strong>più sei preciso maggiori sono le probabilità di successo</strong> della tua richiesta: se lo conosci, dunque, indica un riferimento a numeri di archivio o di catalogazione.<br>
  Se, però, ciò che hai bisogno di sapere non è riferibile ad alcun tipo di documento potresti agire inannzitutto in maniera più informale contattando l’URP della pubblica amministrazione e solo dopo mandando una richiesta di accesso.
  </p>
</dd>

<dt id="giornalisti">Sono un giornalista: per me valgono regole differenti?<a href="#giornalisti">#</a> </dt>
<dd>
    <p>Sì e no. I giornalisti sono, almeno in teoria, portatori di un interesse pubblico a conoscere determinate informazioni e l’accesso è importante per esercitare la libertà di espressione garantita dall’<a href="https://www.senato.it/1025?sezione=120&articolo_numero_articolo=21">Articolo 21 della Costituzione</a>.</p> <p>La <a href="http://www.funzionepubblica.gov.it/articolo/dipartimento/01-06-2017/circolare-n-2-2017-attuazione-delle-norme-sull%E2%80%99accesso-civico">Circolare Madia n. 2 del 30 maggio 2017</a> invita le pubbliche amministrazioni a considerare con particolare attenzione le richieste dei giornalisti e di <em>"verificare con la massima cura la veridicità e la attualità dei dati e dei documenti rilasciati, per evitare che il dibattito pubblico si fondi su informazioni non affidabili o non aggiornate"</em>. Di conseguenza dichiarare che sei un giornalista e per quale testata lavori <em>potrebbe</em> in teoria darti un vantaggio.</p>
</dd>

<dt id="associazione">E se faccio parte di un'associazione<a href="#associazione">#</a> </dt>
<dd>
    <p>Come per <a href="#giornalisti">i giornalisti</a> la posizione della tua <strong>associazione</strong> può essere rafforzata dall'essere “portatrice di un interesse collettivo”.<br>Questi interessi sono le finalità dell’associazione e devono essere esplicitamente menzionati nello <strong>statuto associativo</strong>: una buona idea potrebbe essere, dunque, quella di citare esplicitamente nella tua richiesta gli articoli dello statuto che richiamano questo interesse.</p>
</dd>
<dt id="consigli">Quindi, quali regole devo seguire per fare una buona richiesta?<a href="#consigli">#</a> </dt>
<dd>
  <ul>
    <li>Scrivi in maniera semplice e chiara ma utilizzando i giusti riferimenti;</li>
    <li>Definisci in maniera precisa cosa vuoi ottenere;</li>
    <li>Chiedi i documenti in formato elettronico;</li>
    <li>Se pensi che parte dei documenti possa ricadere tra le eccezioni previste dalla legge dividi la domanda in più parti e fai due richieste separate.</li>
  </ul>
</dd>

<dt id="focused">Perché devo mantenere la mia richiesta specifica?<a href="#focused">#</a> </dt>
<dd>
  <p>Inserisci solo quanto necessario a identificare il documento di cui stai facendo richiesta.
  <br>Non aggiungere:</p>
  <ul>
    <li>lunghe argomentazioni sulle tue motivazioni</li>
    <li>insulti o contenuti diffamatori.</li>
  </ul>

  <p>In caso contrario, dovremo rimuovere la tua richiesta per evitare problemi legali, che comporterebbero problemi per noi e per te. Messaggi brevi e concisi aiutano l'amministrazione a identificare l'informazione che ti serve e a darti una risposta più rapida.</p>
</dd>

<h2 id="problemi">Problemi<a href="#problemi">#</a> </h2>

<dt id="urgenza">Non ho molto tempo, cosa posso fare?<a href="#urgenza">#</a> </dt>
<dd>
  <p>Se il documento ti serve immediatamente fallo presente nella richiesta di accesso spiegando dettagliattamente le motivazioni dell’urgenza. In generale, considerando i tempi di attesa per ricevere risposta, proponiti, quando possibile, di programmare le richieste e inviarle all’inizio della tua ricerca di informazioni: nel frattempo puoi condurre altre ricerche in parallelo.</p>
</dd>

<dt id="scelta_pa">Non sono sicuro di quale sia l'amministrazione che ha l'informazione che mi interessa....<a href="#scelta_pa">#</a> </dt>
<dd>
  <p>Lo sappiamo, è difficile orientarsi nell'intricato mondo della Pubblica Amministrazione e capire a chi inviare una richiesta di accesso. Ecco alcuni consigli:</p>
  <ul>
    <li>Esplora Diritto di Sapere e cerca richieste simili alla tua</li>
    <li>Quando hai trovato l'amministrazione che pensi possa avere l'informazione che ti serve, usa il link “homepage” sul lato destro per capire di cosa si occupano</li>
    <li>Contatta l'amministrazione per telefono o via email per capire se hanno l'informazione che ti serve</li>
    <li>Non ti preoccupare troppo se non si tratta dell'ufficio giusto. In quel caso, a norma di legge, dovrebbero segnalarti a chi inoltrare la richiesta o inoltrarla loro stessi</li>
    <li><strong>Invia più richieste:</strong> se non sei sicuro di quale sia l’istituzione competente, non c’è nulla che vieti di inviare la medesima richiesta a due o tre diverse pubbliche amministrazioni</li>
    <li>In casi particolarmente complicati <a href="https://chiedi.dirittodisapere.it/help/contact">scrivici</a></li>
  </ul>
</dd>

<dt id="missing_body">Nel vostro elenco non c'è l'amministrazione che sto cercando!<a href="#missing_body">#</a> </dt>
<dd>
  <p>Stiamo lavorando ad aumentare il numero di pubbliche amministrazioni incluse nel nostro database: se vuoi mandare una richiesta a un'amministrazione che ancora non è inclusa nel nostro elenco, per favore <a href="https://chiedi.dirittodisapere.it/change_request/new">compila questo modulo</a> e segnala il nome della P.A. che stai cercando e indica, se riesci a trovarlo, anche l'indirizzo da utilizzare per inoltrare le richieste di accesso.</p>

  <p>Se vuoi aiutarci ad aggiungere un intero gruppo di istituzioni mancanti, <a href="https://chiedi.dirittodisapere.it/help/contact">contattaci</a>: te ne saremo davvero grati!</p>
</dd>

<dt id="modulo">Mi hanno risposto chiedendomi di compilare un modulo da loro predisposto per inviare la richiesta. Che faccio, ricomincio da capo?<a href="#contro_eccezioni">#</a> </dt>
<dd>
    <p>Capita che le pubbliche amministrazioni chiedano di utilizzare un modulo specifico, tuttavia <strong>non sei costretto a seguire questa loro indicazione</strong>. La <a href="http://www.funzionepubblica.gov.it/articolo/dipartimento/01-06-2017/circolare-n-2-2017-attuazione-delle-norme-sull%E2%80%99accesso-civico">Circolare Madia n. 2 del 30 maggio 2017</a> chiarisce che i moduli prodotti dalle PA servono a scopo esemplificativo ma se tutte le informazioni necessarie a gestire la richiesta sono contenute nell'email la PA la richiesta si deve considerare valida.</p>  
    <p>Di conseguenza, se insistono affinché tu usi il loro modulo, rispondi loro utilizzando il primo punto che trovi <a href="https://chiedi.dirittodisapere.it/request/carte_didentita_con_iscrizione_r#outgoing-287">in questa risposta mandata al Comune di Napoli</a>.</p>
</dd>

<dt id="modulo">Mi hanno detto che non ho firmato la mia richiesta e per questo non possono accettarla: devo stamapre la mia richiesta e firmare a mano? <a href="#contro_eccezioni">#</a> </dt>
<dd>
  <p>No, la <a href="http://www.funzionepubblica.gov.it/articolo/dipartimento/01-06-2017/circolare-n-2-2017-attuazione-delle-norme-sull%E2%80%99accesso-civico">Circolare Madia n. 2 del 30 maggio 2017</a> chiarisce che quando si manda una richiesta allegando la fotocopia della carta di identità basta riportare il proprio nome e cognome in fondo senza dover apporre firma autografa.</p> <p>Se te la chiedono copia e adatta <a href="https://chiedi.dirittodisapere.it/request/cancellazione_dati_censimento_ro_2#outgoing-290">questa risposta che abbiamo mandato al Ministero dell'Interno</a></p>
</dd>

<dt id="no_response">Cosa faccio se non mi rispondono entro i 30 giorni?<a href="#no_response">#</a> </dt>
<dd>
  <p>Considera innazitutto uno di questi casi:</p>
  <ul>
    <li>Potrebbe esserci stato un problema tecnico per cui la richiesta non è mai arrivata. Se pensi possa essere questo il caso, telefona all'ufficio a cui hai mandato la richiesta e verifica che l'abbiano ricevuta.</li>
    <li>Se non l'hanno ricevuta, il problema potrebbe essere il filtro dello spam. Segnalalo all'ufficio – e spiega loro che su Diritto di Sapere c'è anche <a href="https://chiedi.dirittodisapere.it/help/officers">una pagina per aiutarli</a></li>
  </ul>
    <p>Se non è così puoi ricorrere al <a href="#not_satisfied">riesame interno</a>.</p>
</dd>
    
    <dt id="not_satifised">E se non sono soddisfatto della risposta?<a href="#not_satifised">#</a> </dt>
<dd>
  <p>Se non ricevi l'informazione richiesta, se la ricevi in ritardo rispetto ai termini di legge puoi chiedere un riesame interno al Responsabile Prevenzione Corruzione e Trasparenza o fare ricorso al difensore civico.</p>
    <p>Puoi mandare una richiesta di riesame al Responsabile Trasparenza direttamente da Chiedi attraverso il menù "Actions".</p>
</dd>

<dt id="contro_eccezioni">Cosa posso fare contro le eccezioni?<a href="#contro_eccezioni">#</a> </dt>
<dd>
  <p>Solitamente le eccezioni rientrano nelle categorie di <strong>sicurezza nazionale</strong>, <strong>ordine pubblico</strong>, crimini su cui le <strong>indagini sono ancora in corso</strong>, protezione di alcuni interessi privati, dalla <strong>privacy dell’individuo</strong> ai <strong>segreti aziendali</strong>, e ai processi legati alla <strong>politica monetaria e valutaria</strong>.</p> Per saperne di più leggi <a href="https://chiedi.dirittodisapere.it/help/about#exceptions">qui</a>.

  <p>Comunque considera che anche se l'informazione richiesta ricade tra le eccezioni, non è detto che i dati non siano del tutto accessibili: in alcuni casi la PA dovrà fornirli omettendo i dati sensibili e segnalandolo al cittadino.</p>

  <p>Per questo, se pensi che parte dei documenti possa ricadere tra le eccezioni previste dalla legge, dividi la domanda in due parti e fai due richieste separate.</p>
</dd>

<dt id="private_requests">Posso mandare una richiesta senza che questa venga pubblicata sul sito?<a href="#private_requests">#</a> </dt>
<dd>
  <p>Al momento Diritto di Sapere è progettato solo per <strong>richieste pubbliche</strong>.<br>
  Se vuoi che la tua richiesta rimanga privata, devi contattare direttamente l'istituzione. Se vuoi ulteriori informazioni <a href="https://chiedi.dirittodisapere.it/help/contact">scrivici</a></p>
</dd>

<dt id="offsite">Ho fatto una richiesta senza usare il sito, come faccio a caricarla nell'archivio?<a href="#offsite">#</a> </dt>
<dd>
  <p>Diritto di Sapere è un archivio di richieste fatte attraverso il sito e non vuole necessariamente raccogliere tutte le richieste di accesso che vengono inviate. Per questo motivo non carichiamo richieste non presentate attraverso il sito.</p>

  <p>Tra l'altro, non saremmo in grado di verificare l'esistenza di eventuali risposte arrivate dall'amministrazione in questione. Se il tema ti sta particolarmente a cuore, ti chiediamo di inviare nuovamente la richiesta usando il sito.</p>
</dd>

<dt id="moderation">Come funziona la moderazione delle note alle richieste?<a href="#moderation">#</a> </dt>
<dd>
  <p>Le note alle richieste servono per aiutare gli utenti a ottenere le informazioni di cui hanno bisogno o per segnalare loro altre modalità con cui trovare indicazioni utili. Ci riserviamo il diritto di rimuovere tutto quello che non rientra in queste categorie.<br>
  Diritto di Sapere non è il luogo adatto per infinite discussioni sulla politica. Pubblicate nelle note il link a un forum o sito dove la conversazione può continuare agevolmente.</p>
</dd>

</dl>

<div id="hash_link_padding"></div>
</div>
